body {
  background-color: #fff0f0;

  --bgcolour: #fff;
  --text: #382b22;
  --light-pink: #fff0f0;
  --pink: #ffe9e9;
  --dark-pink: #f9c4d2;
  --pink-border: #b18597;
  --pink-shadow: #ffe3e2;
  --red: #FF0000;
  --red-border: #3D0000;
  --dark-red: #9B0000;
  --white: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spin {
  -webkit-animation: spin-anim 2s linear infinite;
  animation: spin-anim 2s linear infinite;
}

@keyframes spin-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}